# PostgreSQL (docker-compose o instalación local)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=importadora_vehiculos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123

# MS-1
MS1_SERVER_PORT=8080
