JWT_SECRET=importadora-vehiculos-jwt-secret-key-2026-min-32-chars
MS1_API_URL=http://localhost:8080/api/v1

# PostgreSQL dedicado MS-2
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123
POSTGRES_DB=importadora_ms2
